<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NCursed-Vue-Bash sample 1</title>
  <script src="lib/vue.js"></script>
  <script src="lib/axios.min.js"></script>
  <link rel="stylesheet" href="lib/picnic.min.css" />
  <style>
  .info { color: darkblue; }
  td { border: 1px solid black; padding: 1em; }
  input:disabled { color: darkred; }
  </style>
</head>
<body>

  <div id="main">
    <a v-for="cmd in suggestions" @click="executeCommandA(cmd)" class="button">run {{cmd}}</a>
    <a @click="clearOutput" class="button is-primary">clear</a>
    <br/>
    <input v-model="customCmd" :disabled="!customCmdEnabled" @keydown.enter.prevent="executeCommandA(customCmd)"/>
    <pre v-html="output"></pre>
    <span v-for="l in lastOutputLines" class="button">{{l}}</span>
    <table>
      <tr v-for="l in lastOutputGrid">
        <td v-for="e in l">{{e}}</td>
      </tr>
    </table>
  </div>

  <script>
  let linesAsList = o => o.split('\n');
  let linesAsGrid = o => linesAsList(o).map(l => l.split(/ +/));

  let vm = new Vue({
    el: '#main',
    data: () => ({
      ax: axios.create({  baseURL: 'http://localhost:13579/' }),
      suggestions: ['ls', 'ls /tmp', 'cat package.json'],
      customCmd: 'ls -la',
      customCmdEnabled: true,
      output: "---- output ----\n",
      lastOutputLines: [],
      lastOutputGrid: [],
    }),
    methods: {
      clearOutput() {
        this.output = "---- output ----\n";
      },
      setLastOutputLines(l) {
        if (l.length > 0 && l[l.length-1] == '') {
          l = l.slice(0, l.length-1);
        }
        this.lastOutputLines = l;
      },
      run(cmd) {
        return this.ax.post('RUN', {q:JSON.stringify(['bash', '-c', cmd])}, {transformResponse: c=>c})
                      .then( r => r.data );
      },
      executeCommand: function(cmd) {
        this.customCmdEnabled = false;
        this.output += "<span class='info'>$ RUNNING $</span> " + cmd + "\n";
        let out = this.run(cmd);
        out.then(o => { this.output += o; });
        out.then(linesAsList).then(this.setLastOutputLines);
        out.then(linesAsGrid).then( v => this.lastOutputGrid = v);
        out.then(() => {this.customCmdEnabled = true});
      },
      /* same with async await */
      executeCommandA: async function(cmd) {
        this.customCmdEnabled = false;
        this.output += "<span class='info'>$ RUNNING $</span> " + cmd + "\n";
        let out = await this.run(cmd);
        this.output += out;
        this.setLastOutputLines(linesAsList(out));
        this.lastOutputGrid = linesAsGrid(out);
        this.customCmdEnabled = true;
      }
    },
  });
  </script>
</body>
</html>
